body {
    margin: 0px;

    font-family: Tahoma, Arial, Helvetica, sans-serif, Verdana;
    font-size: 16px;
}
a {
    color: #000;
    font-size: 13px;
}
a:hover {
    text-decoration: none;
}
.logo {
    background: #CC0033;
    height: 100px;
    width: 100%;

    border-bottom: 15px solid #000;
}
.logo_name {
    color: #fff;
    font-size: 20px;

    padding-left: 250px;
    padding-top: 25px;

    float: left;
}
.logo_text {
    color: #000;
    font-size: 13px;

    padding-left: 350px;

    float: left;
    clear: left;
}
.logo_contacts {
    padding-left: 25%;

    font-size: 13px;

    float: left;
}
.category {
    background: #cccccc;
    margin-top: 20px;
    margin-left: 10px;
    width: 200px;
    
    float: left;

    border:1px solid #000;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
}
.category_title {
    font-weight: bold;
    color: #fff;

    background: #000;

    padding-left: 25%;
    padding-top: 3px;
    padding-bottom: 3px;

    border:0px solid #000;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -khtml-border-radius:6px;
}
.category a,ul {
    font-size: 15px;
    
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
.category input {
    width: 180px;
}
.category form {
    height: 50px;
}
.category a:hover {
    color: #CC0033;
}
.breadcrumb {
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 100px;

    padding-top: 5px;
    padding-bottom: 5px;

    background: #000;

    width: 75%;

    border:0px solid #000;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -khtml-border-radius:6px;
}
.breadcrumb a {
    color: #fff;
}
.breadcrumb_text {
    color: #fff;
    font-size: 13px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.content {
    float: left;

    margin-left: 60px;
    margin-top: 20px;
}
.content_title {
    background: #ccc;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.content_text {
    margin-top: 50px;
}
.content_message {
    margin-top: 50px;
    margin-bottom: 50px;
}
.comment {
    font-size: 15px;

    margin-top: 20px;
    margin-left: 50px;
}
.comment_message {
    margin-left: 20px;
    margin-bottom: 30px;
}
.pagination {
    font-size: 13px;
    margin-left: 25%;
}